services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    hostname: gluetun
    platform: linux/arm64/v8
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=windscribe
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED}
      - SERVER_REGIONS=Australia
    volumes:
      - ${GLUETUN_VOLUME}:${GLUETUN_MOUNT}
    ports:
      - "${DNS_PORT}:${DNS_PORT}/tcp"
      - "${DNS_PORT}:${DNS_PORT}/udp"
      - "${WINDOWS_WEB_PORT}:${WINDOWS_WEB_PORT}"
      - "${RDP_PORT}:${RDP_PORT}/tcp"
      - "${RDP_PORT}:${RDP_PORT}/udp"
      - "445:445/tcp"
    dns: 192.168.1.254
    restart: unless-stopped
    

  windows:
    image: ${WINDOWS_IMAGE}
    container_name: windows
    environment:
      - VERSION=${WINDOWS_VERSION}
      - VM_NET_DEV=eth0
    devices:
      - ${KVM_DEVICE}
      - ${TUN_DEVICE}
    cap_add:
      - NET_ADMIN
    volumes:
      - ${WINDOWS_VOLUME}:${WINDOWS_MOUNT}
    restart: unless-stopped
    stop_grace_period: ${STOP_GRACE_PERIOD}
    network_mode: "service:gluetun"
#    depends_on:
#      gluetun:
#        condition: service_healthy
